.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:blueviolet;
}

.App-link {
  color: #61dafb;
}
.form-group a {
  text-decoration: none;
}

.center_div{
  margin: 0 auto;
  width: 80%;
}
.title h1 {  
  text-align: center;
  color: #294bb8;
  font-size: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
}

/* 
.container {
  padding: 20%;
  border-color:mediumblue;
} */

.title {
  padding-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  color: #2a1d44;
}

.myBgColor {
  background-color: blue;
}

/* .navbar a {
  float: left;
  font-size: 16px;
  background-color:limegreen;
  color: rgb(12, 9, 9);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* .dropdown {
  float: left;
  overflow: hidden;
} */

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color:goldenrod;
  padding: 14px 16px;
  background:darkgreen;
  font-family: inherit;
  margin: 0;
}

/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color:rgb(35, 211, 35);
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color:yellow;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:#2a1d44;
}
/* form{
  width: 50%;
  height:50%;
  background-color:lightblue;
  padding:20px 20px;
  margin-left: 30%;
  margin-right: 30%;
  } */
.dropdown:hover .dropdown-content {
  display: block;
}
td{
  color:#2a1d44;
}

.table-primary, .table-primary>td, .table-primary>th{
  background-color: #3F51B5 !important;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.main-fullscreen{
  display: flex;
  align-items: center;
}