.login-form {
    padding: 10px 50px;
  }
  .error {
    font-size: small;
    color: red;
  }
  
  .form-group a {
    text-decoration: none;
  }
  
  .title h1 {
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 5px;
  }
  
  .main{
      color:white;
  }
  .container {
    padding: 5%;
  }
  
  .title {
    padding-bottom: 30px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .center_div{
    margin: 0 auto;
    width: 80%;
  }